body{
	
	background-repeat: no-repeat;
	color:#fff;
	
	
}

ul {
	 font-style: oblique;
	 font-size: 18px;
}

.regresar{
	color:blue;
	font-size: 18px;
	font-style: oblique;

}



